@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Nunito");
%info-details {
    text-align: center;
    width: 134px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.userCard {
    background: #fff;
    transition: 0.3s all linear;
    margin-top: 10px !important;
    border: 1px solid rgba(225, 225, 225, 0.5);
    border-radius: 3px;
    width: 350px;
    height: 328px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.15);
        margin-top: 5px !important;
    }
    & .userImage {
        max-height: 130px;
        width: 100%;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        overflow: hidden;
    }
    & .userDetails {
        padding: 5px 27px;
        & .userName {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: 38px;
            font-size: 40px;
            margin-bottom: 4px;
            color: #010101;
        }
        & .useremail {
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: normal;
            line-height: 28px;
            font-size: 20px;
            margin-bottom: 4px;
            color: #010101;
        }
        & .moreDetails {
            padding: 23px 0px;
            font-family: "Nunito", sans-serif;
            font-style: normal;
            font-weight: 300;
            line-height: 19px;
            font-size: 14px;
            margin-bottom: 0;
            color: #807e9c;
            & .info {
                display: flex;
                justify-content: space-between;
                & .leftTime {
                    @extend %info-details;
                }
                & .backers {
                    @extend %info-details;
                }
                & .pledger {
                    @extend %info-details;
                }
            }
            & .showDetails {
                color: #fff !important;
                background-color: #777ef7;
                padding: 8px 23px !important;
                box-shadow: 0 2px 8px 0 rgba(225, 129, 63, 0.35);
                font-family: "Nunito", sans-serif;
                font-weight: 300;
                border: 1px solid transparent;
                font-size: 17px;
                text-align: center;
                border-radius: 38px;
                letter-spacing: 0.9px;
                margin-top: 12px;
                cursor: pointer;
                position: relative;
                bottom: 3px;
                transition: 0.2s all ease-in;
                &:hover {
                    background-color: rgb(58, 66, 204) !important;
                    box-shadow: 0 4px 16px 0 rgba(58, 66, 204, 0.4) !important;
                }
                &:active {
                    background-color: rgb(58, 66, 204) !important;
                    box-shadow: 0 4px 16px 0 rgba(58, 66, 204, 0.4) !important;
                    transform: translateY(5px);
                }
            }
        }
    }
}