@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: 23px 0;
    background: #fafafa;
    height: 13px;
    background: #fff;
    box-shadow: 0 3px 2px rgba(190, 190, 190, 0.5);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    & .brand {
        font-family: "Roboto", sans-serif;
        font-size: 27px;
        margin-top: -8px;
        text-decoration: none;
        & span {
            color: #777ef7;
            font-size: 28px;
            font-weight: 900;
            margin-left: -8px;
        }
    }
    & .navbar {
        display: flex;
        justify-content: space-around;
        & div {
            padding: 0 10px;
        }
    }
    & .addUser {
        cursor: pointer;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        text-decoration: none;
    }
}