.user-detail-overlay {
    position: fixed;
    z-index: 1006;
    top: -25%;
    left: 0;
    bottom: 0;
    right: 0;
    height: 125%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    will-change: opacity;
    transition: all 0.3s linear;
    animation: overlay 0.25s linear;
    cursor: initial;
}

@keyframes overlay {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.modal-content {
    z-index: 1007;
    opacity: 1;
    bottom: -23px;
    padding: 24px;
    position: fixed;
    left: 0;
    right: 0;
    color: white;
    background-color: #2e3167;
    height: 55%;
    width: 100vh;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top, opacity;
    animation: up 0.5s cubic-bezier(0.18, 0.89, 0.04, 1.05);
    & .modal-title {
        margin: 0;
        font-size: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        font-family: "Lato", sans-serif;
        & .cross {
            width: 10px;
            cursor: pointer;
        }
    }
    & .userDetailsInfo {
        display: flex;
        font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    }
    .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }
}

@keyframes up {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}