%form {
    font-weight: 600;
    box-sizing: border-box;
    width: 96vw;
    height: 49px;
    padding-right: 4px;
    padding-left: 18px;
    margin-bottom: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    outline-style: none;
}

form {
    padding: 2px;
    & .textInput {
        @extend %form;
        color: #0f0f0f;
        background-color: #e1e1e1;
    }
    & .submit {
        @extend %form;
        text-transform: uppercase;
        color: #fff;
        background-color: #777ef7;
        text-shadow: #474b98 0 1px;
        cursor: pointer;
    }
    & .filelabel {
        display: block;
        font-weight: 600;
        padding: 1em 2em;
        color: #6f6464;
        margin-bottom: 41px;
        text-align: center;
        font-size: 15px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif !important;
        background: #e1e1e1;
        border-radius: 0.4em;
        transition: background 0.3s;
        &:hover {
            cursor: pointer;
            background: #f0f0f0;
        }
    }
    .fileinput {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        font-size: 1;
        width: 0;
        height: 100%;
        opacity: 0;
    }
}